<div class="flex-container">
  <% if user_signed_in? %>
    <div>
      <h1>Welcome <%= current_user.email %> to AMP</h1>
    </div>
    <div>
      <%= link_to "List of your Entries", entries_path %>
    </div>
  <% else %>
    <h1> Need to be logged in to make use of AMP</h1>
  <% end %>
</div>
